<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog <%= post.title %></title>
    <%- include('./partials/design') %>
  </head>
  <body>
    <main>
      <h1>Post</h1>
      <p><%= post.title %></p>
      <p><%= post.content %></p>
      <p><%= post.date %></p>
      <a href="/">Go back</a>
    </main>
  </body>
</html>
