<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <%- include('../partials/design') %>
  </head>
  <body class="general">
    <main>
      <header><%- include('../partials/nav') %></header>
      <section class="control-section">
        <h1>Admin Panel - Personal Blog</h1>

        <div class="table-posts">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th class="title">Title</th>
                <th class="date">Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% posts.forEach(post => { %>
              <tr>
                <td><%= post.id %></td>
                <td><%= post.title %></td>
                <td><%= post.date %></td>
                <td>
                  <div class="actions">
                    <a href="/admin/post/<%= post.id %>">Edit</a>
                    <a class="deleteButton" id="<%= post.id %>" href="#"
                      >Delete</a
                    >
                    <%- include('../modals/delete') %>
                  </div>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <a href="/admin/post/new"
          >Create new post
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-plus"
          >
            <path d="M5 12h14" />
            <path d="M12 5v14" /></svg
        ></a>
      </section>
      <%- include('../partials/footer') %>
    </main>
  </body>
  <script>
    const btnDelete = document.querySelectorAll('.deleteButton')
    const modalDelete = document.querySelector('.modal-content')
    const deleteButton = document.querySelector('.btn-modal-delete')
    const btnDeleteModal = document.querySelector('.btn-modal-delete')
    const btnCancelModal = document.querySelector('.btn-modal-delete-cancel')

    btnDeleteModal.addEventListener('click', (e) => {
      modalDelete.style.display = 'none'

      const id = e.target.id
      fetch(`http://localhost:3000/admin/delete/${id}`, {
        method: 'DELETE'
      })
        .then((res) => res.json())
        .then((data) => {
          console.log(data)
        })

      location.reload()
    })

    btnCancelModal.addEventListener('click', (e) => {
      e.preventDefault()
      modalDelete.style.display = 'none'
    })

    btnDelete.forEach((btn) => {
      btn.addEventListener('click', (e) => {
        e.preventDefault()

        const id = e.target.id
        modalDelete.style.display = 'flex'
        deleteButton.setAttribute('id', id)
      })
    })
  </script>
</html>
